<span class="collapsible-trigger__icon collapsible-trigger__icon--open{% unless no_circle %} collapsible-trigger__icon--circle{% endunless %}" role="presentation">
  {% include 'icon-plus' %}
  {% include 'icon-minus' %}
</span>
